{fontawesome}
{unsemantic}

<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/open-sans-v15-latin-300.woff2')}" />
<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/open-sans-v15-latin-regular.woff2')}" />
<link as="font" crossorigin type="font/woff2" rel="preload" href="{$Template->getTemplateUrl('bin/fonts/open-sans-v15-latin-700.woff2')}" />
<link href="{$Template->getTemplateUrl('bin/css/style.css')}" rel="stylesheet" type="text/css"/>