<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <project>

        <settings>
            <config>
                <section name="templateBusinessPro.settings">

                    <conf name="bgColorSwitcherPrefix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>
                    <conf name="bgColorSwitcherSuffix">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>

                    <!-- nav bar -->
                    <conf name="navBarHeight">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>80</defaultvalue>
                    </conf>
                    <conf name="navPos">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>scroll</defaultvalue>
                    </conf>
                    <conf name="navBarMainColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2d4d88</defaultvalue>
                    </conf>
                    <conf name="navBarHoverColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#4d6d97</defaultvalue>
                    </conf>
                    <conf name="navBarFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <!--<conf name="navBarShadow">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>hide</defaultvalue>
                    </conf>-->

                    <!-- show header -->
                    <conf name="showHeaderStartPage">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderNoSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderLeftSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="showHeaderRightSidebar">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>

                    <!-- header img height and value  -->
                    <conf name="headerHeight">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>false</defaultvalue>
                    </conf>
                    <conf name="headerHeightValue">
                        <type><![CDATA[integer]]></type>
                        <defaultvalue>300</defaultvalue>
                    </conf>
                    <conf name="headerImagePosition">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>center</defaultvalue>
                    </conf>

                    <!-- search -->
                    <conf name="searchShow">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="searchLink">
                        <type><![CDATA[string]]></type>
                        <defaultvalue></defaultvalue>
                    </conf>

                    <!-- share -->
                    <!--<conf name="shareShow">
                        <type><![CDATA[bool]]></type>
                        <defaultvalue>1</defaultvalue>
                    </conf>
                    <conf name="shareFacebook">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>0</defaultvalue>
                    </conf>
                    <conf name="shareTwitter">
                        <type><![CDATA[string]]></type>
                        <defaultvalue></defaultvalue>
                    </conf>
                    <conf name="shareGoogle">
                        <type><![CDATA[string]]></type>
                        <defaultvalue></defaultvalue>
                    </conf>-->

                    <!-- colors -->
                    <conf name="colorMain">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#2D4D88</defaultvalue>
                    </conf>
                    <conf name="buttonFontColor">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorFooterBackground">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#eeeeee</defaultvalue>
                    </conf>
                    <conf name="colorFooterFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#555555</defaultvalue>
                    </conf>
                    <conf name="colorFooterLinks">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#555555</defaultvalue>
                    </conf>
                    <conf name="colorMainContentBg">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#ffffff</defaultvalue>
                    </conf>
                    <conf name="colorMainContentFont">
                        <type><![CDATA[string]]></type>
                        <defaultvalue>#555555</defaultvalue>
                    </conf>
                </section>
            </config>

            <window>
                <categories>
                    <category name="templateBusinessPro">
                        <text>
                            <locale group="quiqqer/template-businesspro"
                                    var="templateBusinessPro.settings.menu.title"
                                    />
                        </text>
                        <icon>URL_BIN_DIR/22x22/quiqqer.png</icon>


                        <!-- Background Color Switcher Prefix / Suffix -->
                        <settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.settings.bgColorSwitcher">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.bgColorSwitcher.title"
                                        />
                            </title>

                            <!-- Background Color Switcher Prefix -->
                            <select conf="templateBusinessPro.settings.bgColorSwitcherPrefix">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcherPrefix.text"
                                            />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcherPrefix.description"
                                            />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcher.hide"
                                            />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcher.display"
                                            />
                                </option>
                            </select>

                            <!-- Background Color Switcher Suffix-->
                            <select conf="templateBusinessPro.settings.bgColorSwitcherSuffix">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcherSuffix.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcherSuffix.description"
                                    />
                                </description>

                                <option value="hide">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcher.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.bgColorSwitcher.display"
                                    />
                                </option>
                            </select>

                        </settings>


                        <!-- header settings -->
                        <settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.header.settings">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.header.settings.title"
                                        />
                            </title>

                            <!-- no header? -->
                            <text>
                                <locale group="quiqqer/template-businesspro"
                                        var="showHeader.text" />
                            </text>
                            <input conf="templateBusinessPro.settings.showHeaderStartPage"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="showHeaderStartPage.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.showHeaderNoSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="showHeaderNoSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.showHeaderLeftSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="showHeaderLeftSidebar.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.showHeaderRightSidebar"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="showHeaderRightSidebar.text"
                                            />
                                </text>
                            </input>

                            <!-- header height and value -->
                            <text>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.header.settings.height.text"
                                />
                            </text>

                            <input conf="templateBusinessPro.settings.headerHeight" type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.header.settings.height.enable.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.headerHeightValue" type="number">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.header.settings.height.value.text"
                                    />
                                </text>
                            </input>

                            <select conf="templateBusinessPro.settings.headerImagePosition">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.headerImagePosition.text"
                                    />
                                </text>

                                <option value="flex-start">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.headerImagePosition.start"
                                    />
                                </option>
                                <option value="center">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.headerImagePosition.center"
                                    />
                                </option>
                                <option value="flex-end">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.headerImagePosition.end"
                                    />
                                </option>
                            </select>
                        </settings>


                        <!-- nav bar -->
                        <settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.settings.navBar">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.navBar.title"
                                />
                            </title>

                            <!-- nav bar height -->
                            <input conf="templateBusinessPro.settings.navBar.Height" type="number">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBar.Height.text"
                                    />
                                </text>
                            </input>

                            <!-- Menüposition -->

                            <select conf="templateBusinessPro.settings.navPos">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navPos.text"
                                    />
                                </text>

                                <description>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navPos.description"
                                    />
                                </description>

                                <option value="fix">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navPos.fix"
                                    />
                                </option>
                                <option value="scroll">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navPos.scroll"
                                    />
                                </option>


                            </select>

                            <!-- nav bar colors -->
                            <input conf="templateBusinessPro.settings.navBarMainColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBarMainColor.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.navBarFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBarFontColor.text"
                                    />
                                </text>
                            </input>

                            <!-- Menu shadow-->
                            <!--<select conf="templateBusinessPro.settings.navBarShadow">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBarShadow.text"
                                    />
                                </text>

                                <option value="hide">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBarShadow.hide"
                                    />
                                </option>
                                <option value="display">
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.navBarShadow.display"
                                    />
                                </option>
                            </select>-->
                        </settings>


                        <!-- search -->
                        <settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.settings.search">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.search.title"
                                />
                            </title>

                            <input conf="templateBusinessPro.settings.searchShow"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.searchShow.text"
                                    />
                                </text>
                            </input>

                            <input conf="templateBusinessPro.settings.searchLink"
                                   type="text" class="project-site">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="templateBusinessPro.settings.searchLink.text"
                                    />
                                </text>
                            </input>
                        </settings>

                        <!-- share -->
                        <!--<settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.settings.share">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="settings.share.title"
                                />
                            </title>

                            <input conf="templateBusinessPro.settings.shareShow"
                                   type="checkbox">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="settings.shareShow.text"
                                    />
                                </text>
                            </input>

                            <input conf="templateBusinessPro.settings.shareFacebook"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="settings.shareFacebook.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.shareTwitter"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="settings.shareTwitter.text"
                                    />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.shareGoogle"
                                   type="text">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="settings.shareGoogle.text"
                                    />
                                </text>
                            </input>
                        </settings>-->

                        <!-- Colors -->
                        <settings title="templateBusinessPro.settings"
                                  name="templateBusinessPro.settings.color">
                            <title>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.color.title"
                                        />
                            </title>

                            <text>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.generalColor.text"
                                />
                            </text>
                            <input conf="templateBusinessPro.settings.colorMain"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorMain.text"
                                            />
                                </text>
                                <description>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorMain.description"
                                            />
                                </description>
                            </input>

                            <input conf="templateBusinessPro.settings.buttonFontColor"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.buttonFontColor.text"
                                    />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.footerColor.text"
                                />
                            </text>
                            <input conf="templateBusinessPro.settings.colorFooterBackground"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorFooterBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.colorFooterFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorFooterFont.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.colorFooterLinks"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorFooterLinks.text"
                                            />
                                </text>
                            </input>

                            <text>
                                <locale group="quiqqer/template-businesspro"
                                        var="templateBusinessPro.settings.contentColor.text"
                                />
                            </text>

                            <input conf="templateBusinessPro.settings.colorMainContentBg"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorMainContentBackground.text"
                                            />
                                </text>
                            </input>
                            <input conf="templateBusinessPro.settings.colorMainContentFont"
                                   type="color">
                                <text>
                                    <locale group="quiqqer/template-businesspro"
                                            var="template.settings.colorMainContentFont.text"
                                            />
                                </text>
                            </input>

                        </settings>

                    </category>
                </categories>

            </window>
        </settings>

        <wysiwyg class="page-content">
            <css src="//fonts.googleapis.com/css?family=Open+Sans:400,700,400italic"/>
            <css src="URL_OPT_DIR/quiqqer/template-businesspro/bin/css/style.css"/>

            <styles>
                <!-- link effect 1: simple (grey) -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="linkSimpleGrey" />
                    <attributes>
                        <attribute name="class">link-simple-grey</attribute>
                    </attributes>
                </style>

                <!-- link effect 2: simple (color) -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="linkSimpleColor" />
                    <attributes>
                        <attribute name="class">link-simple-color</attribute>
                    </attributes>
                </style>


                <!-- link effect 3: slide up (grey) -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="LinkSlideUpGrey" />
                    <attributes>
                        <attribute name="class">link-slide-up-grey</attribute>
                    </attributes>
                </style>

                <!-- link effect 4: slide up (color) -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="LinkSlideUpColor" />
                    <attributes>
                        <attribute name="class">link-slide-up-color</attribute>
                    </attributes>
                </style>

                <!-- link effect 5: slide right (grey) -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="LinkSlideRightGrey" />
                    <attributes>
                        <attribute name="class">link-slide-right-grey</attribute>
                    </attributes>
                </style>

                <!-- Template Button Small -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="templateButton.small" />
                    <attributes>
                        <attribute name="class">template-button template-button-small</attribute>
                    </attributes>
                </style>
                <!-- Template Button medium -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="templateButton.medium" />
                    <attributes>
                        <attribute name="class">template-button template-button-medium</attribute>
                    </attributes>
                </style>
                <!-- Template Button Big -->
                <style element="a">
                    <locale group="quiqqer/template-businesspro"
                            var="templateButton.big" />
                    <attributes>
                        <attribute name="class">template-button template-button-big</attribute>
                    </attributes>
                </style>

            </styles>
        </wysiwyg>

    </project>
</quiqqer>