
{assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

<div class="grid-100 mobile-grid-100 grid-parent">

    <div class="page-multible-left grid-30 mobile-grid-100 grid-parent">

        {if !empty( $leftSideBar )}
        {foreach from=$leftSideBar item=Brick}
        <div class="page-box page-content">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </div>
        {/foreach}
        {else}
            &nbsp;
        {/if}
    </div>

    <div class="page-multible-right grid-70 mobile-grid-100 grid-parent">

        {if !empty( $prefixContentBricks )}
        {foreach from=$prefixContentBricks item=Brick}
        <div class="page-box page-content">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}

        {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle') ||
        $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
        <div class="page-box page-content grid-100 mobile-grid-100">
            {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle')}
            <header>
                <h1 itemprop="name">{$Site->getAttribute('title')}</h1>
            </header>
            {/if}
            {if !isset( $successMessage ) && $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
            <div class="content-short" itemprop="description">
                {$Site->getAttribute('short')|nl2br}
            </div>
            {/if}
        </div>
        {/if}

        <div class="page-box" role="main">
            {if $Site->getAttribute('type') != 'quiqqer/template-qui:types/leftSidebar'}
                <div class="page-box-inner page-content quiqqer-content grid-100 mobile-grid-100">
                    {$Template->getBody()}
                </div>
            {else}
                <div class="page-box-inner page-content grid-100 mobile-grid-100">
                    {$Site->getAttribute('content')}
                </div>
            {/if}
        </div>

        {if !empty( $suffixContentBricks )}
        {foreach from=$suffixContentBricks item=Brick}
        <div class="page-box page-content">
            {if !$Brick->hasCSSClass('grid*')}
            {$Brick->addCSSClass('grid-100')}
            {/if}
            {$Brick->create()}
        </div>
        {/foreach}
        {/if}

    </div>

</div>