
{assign var=leftSideBar value=$BricksManager->getBricksByArea('leftSidebar', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}


<div class="page-multible-left grid-30 mobile-grid-100">
    {if !empty( $leftSideBar )}
    {foreach from=$leftSideBar item=Brick}
    <div class="page-content">
        {assign var=brickTitle value=$Brick->setSetting('showTitle', true)}
        {$Brick->create()}
    </div>
    {/foreach}
    {else}
        &nbsp
    {/if}
</div>

<div class="page-multible-right grid-70 mobile-grid-100">

    {if !empty( $prefixContentBricks )}
    {foreach from=$prefixContentBricks item=Brick}
    <div class="page-content">
        {if $Brick->getSetting( 'showBrickTitle' )}
        <h1 class="brick-title">{$Brick->getSetting( 'showBrickTitle' )}</h1>
        {/if}
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

    {if $Site->getAttribute('content')}
    <div role="main" class="page-content">

        {if !$Site->getAttribute('templateBusinessPro.showEmotion') &&
        ($Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle') ||
        $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort'))}
        <div class="page-content-site-title">
            {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle')}
            <header>
                <h1 itemprop="name">{$Site->getAttribute('title')}</h1>
            </header>
            {/if}
            {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
            <div class="content-short" itemprop="description">
                {$Site->getAttribute('short')|nl2br}
            </div>
            {/if}
        </div>
        {/if}

        {$Template->getBody()}
    </div>
    {/if}

    {if !empty( $suffixContentBricks )}
    {foreach from=$suffixContentBricks item=Brick}
    <div class="page-content">
        {if $Brick->getSetting( 'showBrickTitle' )}
        <h1 class="brick-title">{$Brick->getSetting( 'showBrickTitle' )}</h1>
        {/if}
        {$Brick->create()}
    </div>
    {/foreach}
    {/if}

</div>

