
{assign var=bricks value=$BricksManager->getBricksByArea('startpageContent', $Site)}
{assign var=prefixContentBricks value=$BricksManager->getBricksByArea('prefixContentBricks', $Site)}
{assign var=suffixContentBricks value=$BricksManager->getBricksByArea('suffixContentBricks', $Site)}

{if !empty( $prefixContentBricks )}
{foreach from=$prefixContentBricks item=Brick}
<section class="page-content">
    {if !$Brick->hasCSSClass('grid*')}
    {$Brick->addCSSClass('grid-100')}
    {/if}
    {$Brick->create()}
</section>
{/foreach}
{/if}


{foreach from=$bricks item=Brick}
<section class="startpage-section page-content grid-100 mobile-grid-100">
    {$Brick->create()}
</section>
{/foreach}

{if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle') ||
$Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
<div class="page-content grid-100 mobile-grid-100">
    {if $Site->getAttribute('quiqqer.settings.sitetypes.dontShowTitle')}
    <header>
        <h1 itemprop="name">{$Site->getAttribute('title')}</h1>
    </header>
    {/if}
    {if !isset( $successMessage ) && $Site->getAttribute('quiqqer.settings.sitetypes.dontShowShort')}
    <div class="content-short" itemprop="description">
        {$Site->getAttribute('short')|nl2br}
    </div>
    {/if}
</div>
{/if}

<div class="mobile-grid-100 grid-100 page-content quiqqer-content">
    {$Template->getBody()}
</div>


{if !empty( $suffixContentBricks )}
{foreach from=$suffixContentBricks item=Brick}
<div class="page-content">
    {if !$Brick->hasCSSClass('grid*')}
    {$Brick->addCSSClass('grid-100')}
    {/if}
    {$Brick->create()}
</div>
{/foreach}
{/if}