<div class="page-footer-copyright">
    <div class="grid-container">
        <div class="grid-50 mobile-grid-100 grid-parent page-footer-copyright-left">
            {locale group="quiqqer/template-businesspro" var="copyright.text" year=$smarty.now|date_format:'%Y'}
        </div>

        <div class="grid-50 mobile-grid-100 grid-parent page-footer-copyright-right">
            <a href="#top" style="outline: none;">
                <i class="fa fa-arrow-up toTop"></i>
            </a>
        </div>
    </div>
</div>